<img src='python logo.png'>

# Python Programming - 31 May 2019

## Session Objectives

* Tuples in Python
* Dictionaries
* Idiomatic Programming in Python
* Regular Expresions in Python
* Date Arithmetic
* Iterators and Generators
* Functional Programming

### Tuples in Python

In [3]:
t1 = (1001, 'Sudheer',85, 98) # creating and defining a tuple - A Linear data Structure

print(t1)

(1001, 'Sudheer', 85, 98)

In [114]:
print(t1[0]) # accessing specific element of a tuple
print(t1[2:]) # accessing elements from specified index
print(t1[2::-1])

1001
(85, 98)
(85, 'Sudheer', 1001)

In [11]:
t2 = (321, 654, 78908)

# accessing the second digit of all the elements of a tuple

print(str(t2[0])[1], str(t2[1])[1], str(t2[2])[1])

2 5 8

In [69]:
# Average of all numerical elements in a linear data structure

def averageLinearDS(t):
    sum = 0
    for i in range(0, len(t)):
        sum += t[i]
    return sum/len(t)
    

    
li = [123, 234, 345, 456, 567]    
t3 = (25, 32, 15, 26, 37)

print(averageLinearDS(t3))
print(averageLinearDS(li))

27.0
345.0

### Iterators

In [31]:
s = "python"
for c in s: # for an item in a data structure
    print(c,end = " ")

p y t h o n

In [27]:
# Average of all numerical elements in a linear data structure

def averageLinearDS(t):
    sum = 0
    for item in t:  # t is iterable object, so we can items directly wihtout index
        sum += item
    return sum/len(t)
    

    
li = [123, 234, 345, 456, 567]    
t3 = (25, 32, 15, 26, 37)


print(averageLinearDS(t3))
print(averageLinearDS(li))

27.0
345.0

In [72]:
# reversing the list directly

l2 = reversed(li) # reverse the list
for i in l2:
    print(i, end=" ")
    
l2 = list(reversed(li))  
print(l2)

567 456 345 234 123 [567, 456, 345, 234, 123]

In [33]:
# Funtion to search in a linear data structure

def linearSearch(ds,key):
    for i in range(0,len(ds)):
        if key == ds[i]:
            return i
    return -1
    
       
print(linearSearch(t3,35))
print(linearSearch(t3,15))

-1
2

In [37]:
#Function to find maximum element of a list

def maxElementsDS(ds):
    maxi = ds[0]
    for ele in ds:
        if ele > maxi:
            maxi = ele
    return maxi



print(maxElementsDS(t3))
print(maxElementsDS(li))

37
567

### Dictionaries in Python

In [55]:
d1 = {'sudheer': 8019370310, 'prasanth': 9491837229} # creating & defining a dictionaries
d2 = {'sudheer': [8019370310, 8019373375], 'prasanth': 9491837229} # deifining and assigning a list to a key

print(d1['prasanth']) # To refer an element in a dictionary
print(d2['sudheer'])

print(d1.keys())
print(d1.values())

d1['mahesh'] = 9989112462 # appending an element to a dictionary
print(d1)

d1.pop('mahesh') # removes a specified key and value using key
print(d1)

print(d1.items()) # list of items of dictionary as a tuple


d3 = {'vishnu': 8074592718, 'ranjit':9515711111}
d1.update(d3) # merges existing dictionary with a new dictionary
print(d1)

9491837229
[8019370310, 8019373375]
dict_keys(['sudheer', 'prasanth'])
dict_values([8019370310, 9491837229])
{'sudheer': 8019370310, 'prasanth': 9491837229, 'mahesh': 9989112462}
{'sudheer': 8019370310, 'prasanth': 9491837229}
dict_items([('sudheer', 8019370310), ('prasanth', 9491837229)])
{'sudheer': 8019370310, 'prasanth': 9491837229, 'vishnu': 8074592718, 'ranjit': 9515711111}

In [65]:
# Contacts Application
# Add, modify, delete and display contacts

contacts = {}

def addContact(dic, name, phone):
    dic[name] = phone
    return


def displayContacts(contacts):
    for name, phone in contacts.items():
        print(name,":",phone)
    return


def modifyContacts(contacts, name, newphone):
    contacts[name] = newphone
    return


def deleteContact(contacts,name):
    contacts.pop(name)
    return


addContact(contacts, 'sudheer', 8019370310)
addContact(contacts, 'vishnu', 8074592718)
addContact(contacts, 'mother', 8019373375)
addContact(contacts, 'ranjit', 9515711111)
displayContacts(contacts)

modifyContacts(contacts,'sudheer',9491837229)
displayContacts(contacts)

deleteContact(contacts,'mother')
displayContacts(contacts)

sudheer : 8019370310
vishnu : 8074592718
mother : 8019373375
ranjit : 9515711111
sudheer : 9491837229
vishnu : 8074592718
mother : 8019373375
ranjit : 9515711111
sudheer : 9491837229
vishnu : 8074592718
ranjit : 9515711111

### Regular Expressions

[0-9] Regular expression for all single digits

[a-z] RE for all lowercase alphabet in English

[A-Z] RE for all uppercase alphabet in English

[0-1] RE for identifying 0s and 1s

In [78]:
# Phone Number validator
import re
def phoneNumberValidator(phone):
    phone = str(phone)
    pattern = '^[6-9][0-9]{9}$'
    if re.match(pattern,phone):
        return True
    return False


print(phoneNumberValidator(5019370310))
print(phoneNumberValidator(8019370310))

False
True

In [79]:
# email validator
import re
def emailValidator(email):
    email = str(email)
    pattern = '^[a-z][a-z0-9_.]{5,14}[@][a-z0-9]{3,12}[.][a-z]{2,3}[.][a-z]{2}$'
    if re.match(pattern,email):
        return True
    return False


print(emailValidator('sudheer.cse@srit.ac.in'))

True

#### split() function

In [81]:
import re
s1 = 'sudheer is a good boy, he is working at SRIT'
syllabusList = re.split('[,][\ ]',s1)
print(syllabusList)

['sudheer is a good boy', 'he is working at SRIT']

### Date Arithmetic

In [98]:
import datetime

now = datetime.datetime.now()
todaydate = datetime.date.today()

print(now.hour,':',now.minute,':',now.second)
print(todaydate)

17 : 11 : 33
2019-05-31

In [109]:
# Design a Python script to determine the difference in date for given two dates in YYYY:MM:DD 
# format(0 <= YYYY <= 9999, 1 <= MM <= 12, 1 <= DD <= 31) following the leap year rules.

import datetime
def dateDifference(date1,date2):
    year1 = int(date1[:4])
    mon1 = int(date1[5:7])
    day1 = int(date1[8:])
    year2 = int(date2[:4])
    mon2 = int(date2[5:7])
    day2 = int(date2[8:])
    d1 = datetime.date(year1,mon1,day1)
    d2 = datetime.date(year2,mon2,day2)
    return d2 - d1

    
print(dateDifference('2019:05:27','2019:05:31'))

4 days, 0:00:00

In [113]:
# Leap year function
def isLeap(year):
    if (year%4==0 and year%100!=0) or (year%400==0):
        return True
    return False


print(isLeap(1600))

True

### List Comprehensions

In [1]:
li = [1, 2, 3, 4, 5, 6]

print(sum(li)) # returns sum all elements in a list

n = 123
print(sum(range(123))) # sum of n natural numbers
print(list(range(9)))
print(list(range(1,9)))

21
7503
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [123]:
#calculate sum of sqrt of n natural numbers

from math import sqrt

def sumOfSqrtNNaturalNumbers(n):
    return sum([sqrt(i) for i in list(range(1,n+1))])


n = 10
print(sumOfSqrtNNaturalNumbers(10))

22.4682781862041

In [130]:
# define a function using list comprehension to identify all numbers divisible by 9 in a given list


li = list(range(1, 100))

print([i for i in li if i % 9 ==0])

[9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]

### Maps in Python

Functions and Iterators are passed as parameters to Map

In [136]:
# Function to calculate cube of all numbers in a list

l2 = [1, 2, 3, 4, 5, 6]

def cubeFunction(n):
    return n ** 3


print(list(map(cubeFunction, l2)))

[1, 8, 27, 64, 125, 216]

# Python Programming - 01 June 2019